.login-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.form-container{
    display: flex;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
    flex-flow: column nowrap;

}
.input{
    border: none;
    border-bottom: 1px #CDD1D0 solid;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    font-size: 1rem; /*I increased the font size for readability (especially in desktop) and consistency across the page*/
}
.invalid-input{
    border-bottom: 1px #FF2D1B solid;
}
/*FONTS*/
.text--login{
    text-align: center;
    color: #061F18A1;
    margin: 0 2.4rem 2rem 2.4rem;
}
.title--login{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.input-label{
    color: #24786D;
    font-size: 1rem;
    font-weight: 500;
}
/*margins*/
.sm-mb{
    margin-bottom: 2rem;
}

/*PSEUDO ELEMENTS*/
.title--login::after{
    content: "";
    position: absolute;
    margin-bottom: -24px;
    margin-left: -200px;
    background-color: #58C3B6;
    width: 56px;
    height: 8px;
    align-self: center;
    z-index: -1;
}
/*BUTTON LOG IN*/
.btn--login{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1rem; /*I increased the font size for readability (especially in desktop) and consistency across the page*/
}
@media(min-width:764px){
    .title--login{
        font-size: 2.4rem;
    }
    .title--login::after{
        margin-bottom: 0px;
        margin-left: -340px;
        bottom: 2px;
        height: 10px ;
    }
    .form-container{
        flex-flow: column nowrap;
        padding-top: 2rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
@media(min-width:1340px){
    .form-container{
        width: 50%;
    }
}